*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

.landing{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.landing .landingtext1{
    position: relative;
    max-width: 600px;
    background-color: #0C2730;
    height: 55vh;
    width: 70%;
    padding-top: 60px;
    padding-left: 50px;
    border-radius: 1px 250px 250px 10px;
}
.landing .landingtext1 h2 {
    font-family: 'Saira Condensed', sans-serif;
    color: #fff;
    font-size: 3em;
}
.landing .landingtext1 h1{
    color: #FFC64C;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}
.landing .landing_img1{
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
    margin-right: 180px;
}
.landingbutton1{
    background-color: #FFC64C;
    color: #fff;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 25px;
    width: 200px;
    height: 60px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
}
.landingbutton1:hover{
    background-color: rgb(255, 186, 58);
    transition: .5s ease-in-out;
    color: #fff;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li {
    list-style: none;
}
.thumb img {
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    transition: .5s;
    cursor: pointer;
}
.thumb img:hover{
    filter: drop-shadow(10px 10px 10px rgba(255,255,255,0.1));
    transform: translateY(-20px);
}
.welcome{
    margin-top: 25%;
}
.welcome_txt{
    font-family: 'Saira Condensed', sans-serif;
    background-color: #222723;
    color: #fff;
    padding-top: 10%;
    padding-right: 10%;
    height: 70vh;
}
.welcome_txt h2{
    font-weight: 600;
    padding-left: 50px;
}
.welcome_txt p{
    font-size: 20px;
    padding-left: 50px;
}
.welcome_txt button{
    margin-left: 50px;
    background-color: #FFC64C;
    color: #0C2730;
    border: 1px solid #0C2730;
}
.services{
    font-family: 'Saira Condensed', sans-serif;
}

.services button:hover{
    background-color: #FFC64C;
}


.book-drum-img{
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}
.b-drum{
    font-family: 'Saira Condensed', sans-serif;
}
.serv-intro{
    font-family: 'Saira Condensed', sans-serif;
    background: url(img/drumsbg.jpg);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: #fff;

}
.line{
    width: 50px;
    height: 3px;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}
.serv-p-intro{
    font-family: 'Saira Condensed', sans-serif;
    background: url(img/pianobg.jpg);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;

}
.serv-g-intro{
    font-family: 'Saira Condensed', sans-serif;
    background: url(img/guitarbg.jpg);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.serv-s-intro{
    font-family: 'Saira Condensed', sans-serif;
    background: url(img/saxbg.jpg);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.serv-m-intro{
    font-family: 'Saira Condensed', sans-serif;
    background: url(img/musicbg.jpg);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.serv-dj-intro{
    font-family: 'Saira Condensed', sans-serif;
    background: url(img/djbg.jpg);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.b-img{
    border-radius: 20px;
}
.b-img:hover{
    width: 130px;
    transition: .5s ease-out;
}
.b-img-dj{
    border-radius: 20px;
}
.b-img-dj:hover{
    width: 180px;
    transition: .5s ease-out;
}
.top-nav{
    height: 10vh;
    width: 100%;
    background-color: #0C2730;
    color: #FFC64C;
    font-family: 'Saira Condensed', sans-serif;
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
}
.side-nav{
    background-color: #0C2730;
    height: 100vh;
}
.side-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
}
.side-nav ul li{
    list-style: none;
    border-bottom: 1px solid #164a5b;
}
.side-nav ul li:hover{
    padding-left: 30px;
    transition: .5s
}
.side-nav ul li a{
    text-decoration: none;
    color: #FFC64C;
    height: 50px;
    padding-top: 20px;
    padding-left: 10px;
    display: block;
}
.sectionSize {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.divSizing {
    width: 50%;
    border: 1px solid black;
    margin: 5px;
}

.containerText {
    text-align: center;
    margin: auto;

}

.buttonStyling {
    color: #FFC64C;
    background-color: #062730;
    border: 1px solid #FFC64C;
    transition: all 0.5s ease-in-out;

}

.buttonStyling:hover {
    background-color: #FFC64C;
    color: #062730;
}

#chooseLessons{
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    object-position: center;
    background: #C04848;  /* fallback for old browsers */
    background: linear-gradient(90deg, rgba(6,39,48,0.8) 0%, rgba(255,198,76,0.8) 100%), url("C:/Users/hp/Desktop/My Coding Progress/Imani School of music images/matt-botsford-OKLqGsCT8qs-unsplash (1).jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#aboutUs{
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    object-position: center;
    background: #C04848;  /* fallback for old browsers */
    background: linear-gradient(90deg, rgba(6,39,48,0.8) 0%, rgba(255,198,76,0.8) 100%), url("C:/Users/hp/Desktop/My Coding Progress/Imani School of music images/pexels-elviss-railijs-bitāns-1389429.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width:576px){
    .landing .landingtext1{
        position: relative;
        max-width: 600px;
        background-color: #0C2730;
        height: 55vh;
        width: 70%;
        padding-top: 60px;
        padding-left: 50px;
    }
}